/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 */
 .loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

.sidebar-btn-active {
  background-color: #1A1F37;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(42px);
  transition: 0.2s linear;
}

.icon-box {
  height: 30px;
  width: 30px;
  margin-right: 12px;
  transition: 0.2s linear;
}

.icon-box.active {
  background-color: #2FC7F0;
  color: white;
}

.sidebar-nav-button-text.active {
  color: white;
}


::-webkit-scrollbar {
  width: 9px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(#130d26,#212255,#303e89);
}

::-webkit-scrollbar-thumb {
  background: #300eaa; 
  border: 0.5px solid #3915bc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3915bc;
  border-radius: 4px;
}

::-webkit-scrollbar:horizontal {
  background: none;
  height: 10px;
}

::-webkit-scrollbar-track:horizontal {
  background: transparent;
  border: 0.5px solid #212255;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #300eaa; 
  border: 1px solid #3915bc;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  cursor: pointer;
}

/* Toaster */

/* 
.Toastify__toast-theme--colored.Toastify__toast--default {
}
.Toastify__toast-theme--colored.Toastify__toast--info {
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: cyan;
  color: #F7FAFC
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: #C53030;
  color: #F7FAFC
} 
*/